---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="relative min-h-screen flex items-center justify-center px-8 pt-20">
      <div class="max-w-4xl text-center z-10">
        <h1 class="text-6xl font-black text-white italic mb-6">
          Lorem Ipsum Dolor
        </h1>
        <p class="text-xl text-[rgb(var(--foreground))]/70 leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus ipsum, molestie a vestibulum et, eleifend non libero. In diam magna, eleifend ut risus eu, viverra tempor nibh. Aenean aliquam dolor nulla, a aliquam lectus hendrerit at.
        </p>
      </div>
    </section>

    <section class="px-8 py-20 space-y-20">
      <div class="max-w-4xl mx-auto">
        <p class="text-lg text-[rgb(var(--muted))] mb-8">
          Morbi vehicula dignissim mi in pulvinar. Praesent vitae massa quis velit volutpat viverra at sed nisl. Aenean ultricies mollis elit nec accumsan. Integer id tempor dolor. Donec elementum lacus quis urna ullamcorper porttitor. Nam varius eu nibh a fermentum. Vivamus tristique auctor urna, quis posuere risus viverra et.
        </p>
        
        <p class="text-lg text-[rgb(var(--muted))]">
          Donec sed convallis est. Suspendisse bibendum interdum velit, vitae cursus eros porta vehicula. Fusce efficitur eget orci vitae pretium. Maecenas ullamcorper purus dignissim dolor laoreet condimentum. Vivamus vulputate magna vel leo congue, vitae ullamcorper lacus rhoncus. Fusce condimentum blandit orci. Nullam pellentesque efficitur hendrerit.
        </p>
      </div>

      <div class="h-[100vh] flex items-center justify-center border-2 border-dashed border-white/5 rounded-3xl">
        <span class="text-[rgb(var(--muted))] italic">Test scroll :v</span>
      </div>
    </section>
  </main>
</Layout>