---
import Layout from "../layouts/Layout.astro";
import HairViewerPage from "../components/features/viewer/HairViewerPage";

const code = Astro.url.searchParams.get('code') || '';
const name = Astro.url.searchParams.get('name') || '';
---

<Layout title="Hair Viewer | DragonMineZ" noindex={true}>

  <section class="min-h-screen pt-20 pb-8">
    <HairViewerPage client:only="react" code={code} name={name} />
  </section>
</Layout>
