---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '@fontsource-variable/onest';
import "../styles/global.css";
---

<!doctype html>
<html class="dark" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DragonMineZ - El mejor mod de Dragon Ball Z para Minecraft</title>
  </head>
  <body class="bg-[rgb(var(--background))] text-[rgb(var(--foreground))]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
