<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <h1>Sign In</h1>
</header>

<section>
    <div class="container">
        <form method="POST">
            <p class="desc">Username:</p>
            <input type="text" name="username" required>

            <p class="desc" style="padding-top:5%;">Password:</p>
            <input type="password" name="password" required>

            <div style="padding-top:5%;">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </div>
    <a style="width: 100%; display: block; text-align: center; text-decoration: none; color: #e34425; font-weight: bold;" href="/signup">If you don't have an account, sign up here</a>
</section>

{% if error %}
<script>
    alert("{{ error }}");
    window.onload = function() {
        document.querySelector('input[name="password"]').value = "";
    };
</script>
{% endif %}

</body>
</html>