<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <h1>Sign Up</h1>
</header>

<section>
    <div class="container">
        <form method="POST">
            <p class="desc">Username:</p>
            <input type="text" name="username" required>

            <p class="desc" style="padding-top:5%;">Password:</p>
            <input type="password" name="password" required>

            <div style="padding-top:5%;">
                <button type="submit">Crear Cuenta</button>
            </div>
        </form>
    </div>
</section>

</body>
</html>