<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Hair Code Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/static/css/style.css">

    <style>

    </style>
</head>

<body>

    <header>
        <h1>Upload Hair</h1>
    </header>

    <section>
        <div class="container">

            <form method="POST">

                <p class="desc">Name:</p>
                <input style="width: 100%; background-color: #1a1a1a; color:white;" type="text" name="hairName"
                    placeholder="Name" required>

                <p class="desc" style="padding-top: 5%;">Hair Code:</p>
                <textarea style="width: 100%; background-color: #1a1a1a; color:white;" name="hairCode"
                    placeholder="Paste the Hair Code here" required></textarea>

                <div style="padding-top: 5%;">
                    <button type="submit">Guardar</button>
                </div>

            </form>

        </div>
    </section>

    <script>



    </script>

</body>

</html>